body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.5);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.1s ease-in-out;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* background-color: #333; */
}
.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-self: end; */
  grid-gap: 0.5rem;
  padding: 5px;
  margin: 0.5rem;
}
.box {
  background-color: whitesmoke;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: #1a1a1a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-out;
}
.box:hover {
  transform: translateY(-5px) scale(1.05);
}
.content {
  width: 100%;
  background-color: none;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}
.content .home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  grid-gap: 2rem;
  transition: transform 1s ease-in-out;
  .tulisan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left: 25%;
    h2 {
      animation: slideInFromTop 0.5s ease-out;
    }
    p {
      animation: slideInFromBottom 0.5s ease-out;
    }
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.content .home .profil {
  border: 20px solid #d9d9d9;
}
.content .visimisi-tulisan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  h2 {
    animation: slideInFromTop 0.8s ease-out;
  }
  p {
    animation: slideInFromBottom 0.8s ease-out;
  }
}
.content.note {
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
  p {
    animation: slideInFromBottom 0.8s ease-out;
  }
}
.portofolio {
  display: grid;
  grid-template-columns: auto auto;
}
.isi {
  display: flex;
  flex-direction: row;
}
.port {
  display: none;
}
.port.active {
  display: block;
}
.circles {
  align-items: center;
  gap: 20px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 1rem;
}
.circle:hover {
  transform: scale(1.1);
}

.carousel-item {
  display: none;
  text-align: center;
  animation: fadeIn 0.5s;
}
.carousel-item.active {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.carousel-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.kontak {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem;
  .list-kontak {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
  }
  .list-kontak1 {
    background-color: rgba(9, 9, 9, 0.5);
    padding: 1rem;
  }
  h3 {
    animation: slideInFromTop 0.5s ease-out;
  }
  p {
    color: aliceblue;
    animation: slideInFromBottom 0.5s ease-out;
    a {
    }
  }
}
